doctype html
html
    head
        title Zadanie - logowanie przez google'a
    body(style='background-color:#31b276')
        h1(style='font-size:50px; color:blue;font-weight:bold;text-align:center') Brawo jesteś zalogowany!
