div.logon.
div.cointainer(style='text-align:center;color:orange;')
     h1 Musisz się zalogować, żeby korzystać.
      p Ta apka robi, hmm - nie wiem co
      p ale jeśli chcesz korzystać 
      p to musisz się zalogować.
      h4 najlepiej przez
      a(href='/auth/google')
        button(style='padding:30px;background-color:red;color:green;font-size:40px;border-radius:10px;margin-bottom:100px') GOOGLE